<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.looko.mycloud.user.mapper.TbValidcodeMapper">

    <resultMap id="BaseResultMap" type="org.looko.mycloud.user.domain.TbValidcode">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="validcode" column="validcode" jdbcType="VARCHAR"/>
            <result property="validcodeExpire" column="validcode_expire" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,email,validcode,
        validcode_expire,create_time,update_time
    </sql>

    <insert id="insertOrUpdate">
        insert into tb_validcode(email, validcode, validcode_expire, update_time)
        values(#{email}, #{validcode}, DATE_ADD(CURRENT_TIMESTAMP, INTERVAL 5 MINUTE), CURRENT_TIMESTAMP)
        ON DUPLICATE KEY UPDATE validcode=VALUES(validcode), validcode_expire=VALUES(validcode_expire)
    </insert>

    <update id="expireValidcode">
        update tb_validcode set validcode_expire = CURRENT_TIMESTAMP
                            where email = #{email} and validcode = #{validcode}
    </update>

    <select id="checkValidcode" resultType="java.lang.Boolean">
        select IF(validcode = #{validcode} and validcode_expire > CURRENT_TIMESTAMP, true, false)
        from tb_validcode where email = #{email}
    </select>


</mapper>
